<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Replicant > Candidates</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
</head>

<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Replicant</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/jobs"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="/candidates"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Candidates</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2 th:text="|${candidate.firstName} ${candidate.lastName}|">Candidate Name</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3>Candidate Summary</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <dl class="dl-horizontal">
                    <dt>First Name</dt>
                    <dd th:text="${candidate.firstName}">First</dd>

                    <dt>Last Name</dt>
                    <dd th:text="${candidate.lastName}">Last</dd>

                    <dt>Email</dt>
                    <dd th:utext="${candidate.email}">Email</dd>
                </dl>
            </div>
        </div>

    </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/replicant.js"></script>
</body>
</html>
