<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Replicant > Jobs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />
</head>

<body>

    <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Replicant</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/jobs"><span class="glyphicon glyphicon-briefcase"></span> Jobs</a></li>
                    <li><a href="/candidates"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Candidates</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <h2>Jobs</h2>
                <hr/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="btn-group btn-group-sm pull-right" role="group">
                    <a href="/jobs/add" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Add Job</a>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Hiring Manager</th>
                                <th class="text-center">Candidates</th>
                                <th class="text-center">Days Open</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="job : ${jobs}">
                                <td><a href="#" th:href="@{'/jobs/' + ${job.jobId}}" th:text="${job.title}">Title</a></td>
                                <td th:text="${job.hiringManager}">Hiring Manager</td>
                                <td class="text-center">
                                    <span th:class="${#lists.size(job.candidates) > 0 ? 'label label-success' : 'label label-warning'}"
                                          th:text="${#lists.size(job.candidates)}">1</span>
                                </td>
                                <td class="text-center">
                                    <span th:class="${job.daysOpen > 60 ? (job.daysOpen > 90 ? 'label label-danger' : 'label label-warning') : 'label label-success'}"
                                          th:text="${job.daysOpen}">1</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/replicant.js"></script>
</body>
</html>
